name: Check OpenAPI Spec

on:
  pull_request:

jobs:
  check-openapi-spec:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Run version check
        run: bash check_openapi.sh
        working-directory: codegen
