name: Build and Deploy Documentation

on:
  push:
    branches: [main]
    paths:
      - "*.go"
      - "docs/config.json"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    concurrency:
      group: "pages"
      cancel-in-progress: false
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Install gomarkdoc
        run: go install github.com/princjef/gomarkdoc/cmd/gomarkdoc@latest

      - name: Create docs directory
        run: mkdir -p docs

      - name: Create index.md
        run: gomarkdoc --tags nodocs --output ./docs/index.md .

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Install markdown-to-html-cli
        run: npm i -g markdown-to-html-cli

      - name: Create html file
        run: markdown-to-html-cli --config="config.json" --source="index.md" --output="index.html"
        working-directory: docs

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "docs"

      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4
